* {
    scroll-behavior: inherit;
}
.intro {
    background-color: white;
    display: flex;

    .left {
        flex: 0.5;
        overflow: hidden;
        position: relative;
        top: 100px;
        left: 60px;

        .imgContainer {
            width: 700px;
            height: 700px;
            background-color: salmon;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            float: center;

            img {
                height: 80%
            }
        }
    }

    .right {
        flex: 0.5;
        position: relative;

        .wrapper {
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        h1{
            font-size: 60px;
            margin: 10 px 0
        }
        h2{
            font-size: 35px;
        }
        h3 {
            font-size: 30px;
        }
    }
    a {
        position: absolute;
        bottom: 200px;
        left: 25%;
        text-decoration: none;
        display: flex;
        justify-content: space-between;

        .h3 {
            color: black;
            font-size: 22px;
            margin-left: 20px;
        }

        img{ 
            width: 50px;
            animation: arrowBlink 2s infinite;
        }

        @keyframes arrowBlink {
            100%{
                opacity: 0;
            }
        }


    }
}